---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">

    <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
        <div class="relative z-20 w-full mx-auto lg:mx-0">
    <h2 class="text-2xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-3xl lg:text-4xl">About</h2>
    <p class="mt-3 text-sm leading-6 text-neutral-600 dark:text-neutral-400 sm:mt-4 lg:mt-6 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"></p>
</div>

        <p class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
            I am <strong class="font-bold text-neutral-900 dark:text-neutral-100">Thomas Sing-wing Wu</strong>, a high school student from Shanghai, China. I am a computer scientist, Sinologist, researcher, swimming athlete, and a bathroom singer.
        </p>

        <p class="mt-5 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
            I founded <a href="https://www.linkscape.app/" class="underline decoration-dashed decoration-neutral-300 underline-offset-4">LinkScape</a> in 2022, a student-led open-source organization aimed at empowering young developers to build real-world software, and completed a three-month paid virtual internship with <a href="https://hackclub.com/" class="underline decoration-dashed decoration-neutral-300 underline-offset-4">Hack Club</a> in 2023—both when I was thirteen.
        </p>

        <p class="mt-5 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
            In 2024, I competed in the Hong Kong Swimming Olympic Trials.
        </p>

        <p class="mt-5 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
            My academic interests focus primarily on natural language processing and computational linguistics, especially when combined with philosophy and Sinology.
        </p>

        <p class="mt-5 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
            I am also a member of the <a href="https://lshk.org/" class="underline decoration-dashed decoration-neutral-300 underline-offset-4">Linguistic Society of Hong Kong</a>.
        </p>

        <p class="mt-5 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
            I am native in English and several Chinese dialects, including Mandarin, Shanghainese, Cantonese, and Old National Pronunciation, and am also new to Spanish.
        </p>

    </section>

</MainLayout>